| File | Real Hash | Declared In File | Matches Manifest |
|------|-----------|------------------|-------------------|
| ./PROVENANCE.md | `266cc15a9182405ab0f4baead6a16950674046e3db27a7de402ce4c5e8c90d7d` | false | true |
| ./LICENSE.md | `8d0571c22a78dc697be38b303e11ec750856b7f529a3f44da1c63956500aca55` | false | true |
| ./docs/LICENSE.md | `dc8f3e1df1606a8767dd4755ad134cd423cfd5421bb8c4db423a76f4e7aa7d89` | false | true |
| ./docs/MANIFEST.md | `eb39700c35579ea1c63b7bd0abe09984964afbb8be92b78e4c56f4eacdf96187` | false | true |
| ./docs/assets/structure-map.png | `01ba4719c80b6fe911b091a7c05124b64eeece964e09c058ef8f9805daca546b` | false | true |
| ./docs/assets/F2DB40F4-BF6F-4843-8F9C-242BCA424DAB.png | `16b7dfa8879f471e7f38f86462bccad77da45ce49ffbf9c2896c769e8225727e` | false | true |
| ./docs/PROTOCOL-ANCHOR.md | `c061cba782f5113761ac8e9e6724da7c2ff4b1fbdebd7e7040e31e49ac056eb2` | false | true |
| ./docs/LEGACY-PRESERVATION.md | `8ef1de74b42ca8b50f5e2214b5abbb445df4342b8ef646b1a586e1641cea6cc5` | false | true |
| ./docs/licenses/STRUCTURAL-LICENSE-FIRESEED.md | `3e0e051cb6894d9e9f36e3493a073130cd94e1e4dc254c684364764df07a4071` | false | true |
| ./docs/licenses/STRUCTURE-ORIGIN-NOTICE.md | `d62806bbe54e7c00f872eb92b61b3cf376cf342ba47b06f1959d9bd9231518d2` | false | true |
| ./docs/licenses/STRUCTURE-ORIGIN-NOTICE | `e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855` | false | true |
| ./docs/meta/STRUCTURAL-TIMELINE-v1.1.md | `289f2ea5f324270597867e3dcab5cfd7db558bff657979d4625132d027d18d8b` | false | true |
| ./docs/meta/STRUCTURE-VERIFICATION.md | `1e84f1091d7339aa66c929be48b4b129462716bf2f3fff987d8a1a9b886c1ae1` | false | true |
| ./docs/meta/STRUCTURE-SUMMARY.md | `7381220570d81aae325be8470226c265192283ef1e4149d4066613563488b336` | false | true |
| ./docs/meta/STRUCTURE-SNAPSHOT.md | `a161c66743afa7fb9047a1df8b9e8923f5d2ad12420c835f94a3a2bf1806b613` | false | true |
| ./docs/meta/STRUCTURE-SNAPSHOT-v1.1.md | `30f10c41b79e6d9c20a4203f185d437dacba4585b2f6305d37bb55970b3ab60a` | false | true |
| ./docs/meta/STRUCTURAL-TIMELINE.md | `11c64b19fb9a484ddc00018d3dae32beceb988b852adb81fb4696cda89dd52da` | false | true |
| ./docs/meta/PROTOCOL-CUSTODIANS.md | `f5b7db247b1eb0d97674adde3f33f300c04f2ac18f696c65a512957f3176a20a` | false | true |
| ./docs/meta/STRUCTURE-GENESIS-GUIDE.md | `34e2b66978fb6f5f6bc544f827b2008d047bffcd2cd7c1b3a454fb4213544395` | false | true |
| ./docs/meta/TERMINOLOGY-SWITCH-NOTICE.md | `e21f69c2f47c226b16063f548ea1aea92fa97b013f7b5675db32f9869ea152ab` | false | true |
| ./docs/meta/SOVEREIGN-ASSERTION.md | `ccf1e8952cfdff7274ac44de31826faaa3dcca4d07cd33acf1eb0dfbed05a249` | false | true |
| ./docs/meta/FY-IP-NOTICE.md | `0136c9d13485c297868089034d5afd1703ecd67cd12ea615e031682136312add` | false | true |
| ./docs/index.md | `4f72dafbfc1b6454dbb69ddeebc19db555cc49552c87356b5909b555ca077174` | false | true |
| ./docs/8873D52E-13DC-423F-8E75-1590368F38F9.png | `d6a21ad44fd5bb0f3bfd07ac1d473f746fe780a257e81fed1ffa8627f7dc5c90` | false | true |
| ./docs/nodes/SEED-XXXX.md | `2b49e36e3eadeb8f68c29b876f8a8b3ce2c0455ef26167ccbc6a0b4f1ac4f8b4` | false | true |
| ./docs/nodes/SEED-0000.md | `43eb275ec0c9bb421520fad01257408cf122368f62c10b0b9ce820f6c864eb4a` | false | true |
| ./docs/nodes/SEED-00001.md | `13da11ab2d56543926fd129f6d2ae6eb8958d5e7bd6d6c894ed39be7c49cf8cf` | false | true |
| ./docs/STRUCTURE-GUIDE.md | `2404ccb1cd7ced8712338b69beddc315a43af653a7791f4a1ad74683f8a57e27` | false | true |
| ./docs/README.md | `961d4235a2c9b62a49add68b7fc8fb709de4f913e0d4965191e36d21b6c89c75` | false | true |
| ./README.md | `424a0ce631689404a28b35274f814e78f8dd83ac2969673b6893b7a0babe5872` | false | true |

<!-- STRUCTURE-ID: sha256:f3747812fdd6a037730d7b04121718b8030050cc6c331a48ddbc57f6d4854aca uploaded_by: Fyorigin at 2025-05-04T15:16:27Z -->
